@model BooksApp.Models.Books

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Books Edit</h1>

<div class="container">
    <h4>Books</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Bookid" class="control-label"></label>
                    <input asp-for="Bookid" class="form-control" readonly />
                    <span asp-validation-for="Bookid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bookname" class="control-label"></label>
                    <input asp-for="Bookname" class="form-control" />
                    <span asp-validation-for="Bookname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bookauthor" class="control-label"></label>
                    <input asp-for="Bookauthor" class="form-control" />
                    <span asp-validation-for="Bookauthor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bookdescription" class="control-label"></label>
                    <input asp-for="Bookdescription" class="form-control" />
                    <span asp-validation-for="Bookdescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

