@{
    ViewData["Title"] = "Home Page";
}
<section class="py-4">
    <div class="jumbotron jumbotron-fluid bg-primary text-white">
        <div class="container text-center">
            <h1 class="display-4">Welcome to Online BookStore</h1>
            <p class="lead">Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.</p>
            <button type="button" class="btn btn-danger text-light shadow">check out</button>
        </div>
    </div>
</section>
<div class="container">
    <h2 class="text-capitalize text-center text-sm-center">Top 2021 Books</h2>
</div>
<section class="align-content-center p-3">
    <div class="row">
        <div class="col-3 align-content-center p-sm-2">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Readers.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary shadow">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Readers.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary shadow">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Readers.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary shadow">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Readers.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary shadow">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h2 class="text-center">Top Books of 2020</h2>
</div>
<section class="align-content-center p-3">
    <div class="row">
        <div class="col-3 align-content-center p-sm-2">
            <div class="card  shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/harry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/harry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/harry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/images/harry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">There is no friend as loyal as a book.</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>

